@charset "urf-8";

*{margin:0;padding:0;}
ul,li{list-style:none;}
a{text-decoration:none;color:#000;}

.cf:after{
	content:'';
	display:block;
	clear:both;
}


#wrap{
	width:100%;
	height:100%;
	background-color:#fff;
}

header{
	width:100%;
	height:100px;
	background-color:#F1F1F1;
	margin-top:15px;
	position:relative;
	z-index:2;
}

header .cover{
	width:1200px;
	height:100%;
	margin:0 auto;
	
	/*border:1px solid;*/
}


header .logo{
	width:140px;
	height:auto;
	float:left;
	margin-left:30px;
	text-align:center;
	
}

header .logo img{
	display:block;
	width:100%;
	height:auto;
}

header .cover nav{
	float:right;

	height:auto;
	/*text-align:center;*/


}
header .cover nav .gnb,
header .cover nav .small_menu,
header .cover nav .grobal_img {
	float:left;
}



	
header .cover nav .gnb > li{
	line-height:100px;
	font-size:12px;
	font-weight:bold;
	float:left;
	padding:0 38px;
	position:relative;
}





header .cover nav .gnb > li:last-child > a{
	border-right:0;
}

.cover nav .small_menu li{
	/*border:1px solid;*/
	float:left;
	line-height:100px;
	font-size:10px;
	padding:0 15px;
	
}

.cover nav .small_menu li a{
	color:#707070;
}

.cover nav .small_menu li:last-child{
	padding-right:-10px;
}

.cover nav .gnb > li > ul {
	position:absolute;
	line-height:20px;
	left:30px;
	top:150%;
	width:100%;
	height:300px;
	font-size:11px;
	z-index:1;
	display:none;
	font-weight:normal;
}

.cover nav .gnb > li > ul > li:hover > a{
	color:skyblue;

}
	



.cover nav .gnb > li > ul a{
	color:#fff;
}

header .cover nav .grobal_img img{
	margin-top:43px;
}


header .full_bg{
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	height:500px;
	background-color:#000;
	display:none;
}

.section {
	width:100%;
	height:auto;
	background-color:#fff;
	padding-top:30px;
	
	

}

.section .s_cover{
	margin:0 auto;
	width:959px;
	height:477px;
	/*overflow:hidden;*/
}

.section.middle{
	margin-top:150px;
}

.section .bottom{
	margin-top:120px;
}


.section .s_cover .imgs{
	width:700%;
}

.section .s_cover .imgs li{
	float:left;
}

.section .s_cover .imgs img{
	display:block;
}

.section .img_slide{
	position:relative;	
	margin-top:40px;
}



.section .img_slide .btn{
	width:300px;
	position:absolute;
	right:280px;
	bottom:15px;
}

.section .img_slide .btn li{
	float:left;
	padding:0 5px;
	
	
}
.section .img_slide .btn a{
	display:block;
	width:10px;
	height:10px;
	background-color:#000;
	border:1px solid #fff;
	box-sizing:border-box;
}

.section .img_slide .btn li.color a{
	background-color:gray;
}


.section .s_cover.m_cover{
	/*border:1px solid;*/
}

.section .s_cover.m_cover .gnb{
	/*border:1px solid;*/
}

.section .s_cover.m_cover li{
	float:left;
	font-size:12px;

	
}


.section .s_cover.m_cover .cover1{
	width:190px;
	height:auto;
	margin-left:-30px;

}


.section .s_cover.m_cover .gallery{
	width:100%;
	
} 

.section .s_cover.m_cover .gallery li{
	width:20%;
	float:left;
	margin-right:0px;
} 

.section .s_cover.m_cover .gallery img{
	display:block;
	margin-top:8px;
	
}

.section .s_cover.m_cover .gallery span{
	font-size:13px;
}

.section .s_cover.m_cover .gallery > li:nth-child(1) > span {
	margin-left:30px;
}



.section .s_cover.m_cover .b_cover{

	width:100%;
	height:100px;
}

.section .s_cover.m_cover .bb_cover{
	width:100%;
}

.section .s_cover.m_cover .bb_cover li{
	float:left;
}

.section .s_cover.m_cover .bb_cover span{
	font-size:13px;
	display:block;
}

.section .s_cover.m_cover .bb_cover img{
	display:block;
	margin-top:10px;
	float:left;
}

.section .s_cover.m_cover .bb_cover .txt_box{
	background-color:#F1F1F1;
	width:90%;
	height:38px;
	line-height:38px;
	margin-left:30px;
	margin-top:8px;
}


.section .s_cover.m_cover .bb_cover li:nth-child(1){
	width:50%;
}

.section .s_cover.m_cover .bb_cover li:nth-child(1) > span{
	margin-left:30px;
}

.section .s_cover.m_cover .bb_cover li:nth-child(2){
	width:25%;
}

.section .s_cover.m_cover .bb_cover li:nth-child(3){
	width:25%;
}

.section .s_cover.m_cover .bb_cover li:last-child{
	float:left;
}

.section .s_cover.m_cover .bb_cover li:last-child > a > img{
	margin-left:15px;
	display:block;
}

footer{
	width:100%;
	height:150px;
	background-color:#F1F1F1;
}

footer .f_cover{
	width:959px;
	height:100%;
	margin:30px auto;
	position:relative;
	background-color:#F1F1F1;
}

footer .f_cover .logo img{
	display:block;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}

footer .f_cover p{
	text-align:right;
	font-size:12px;
	line-height:20px;
	padding:40px;

}

.on{
	border-left:3px solid blue;
	padding-left:5px;
	line-height:10px;
	display:inline-block;
}








