@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Volkhov&display=swap');
*{margin:0; padding:0;}
ul,li{list-style:none;}
a{text-decoration:none; color:#000;}

body{
	font-family: 'Noto Sans KR', 'Volkhov', sans-serif;
	
	}
/**************header******************/
header{
	width:100%;
	height:90px;
	border-bottom:0.5px solid #fff;
	position:fixed;
	top:0;
	left:0;
	z-index:1;
	animation:log 2s 1s forwards;
	opacity:0;
}

 @keyframes log{
	0%{opacity:0;}
	100%{opacity:1;}
} 

nav{
	width:100%;
	height:90px;
	position:relative;
	background-color:rgba(0,0,0,0.2);
	top:0;
}

nav .logo{
	position:absolute;
	top:55%;
	left:15px;
	transform:translateY(-50%);
}

nav .menu{
	position:absolute;
	right:20px;
	top:50%;
	transform:translateY(-50%);
}

nav .menu i{
	font-size:40px;
	color:#fff;
}

nav > ul > li {
	width:170px;
	height:90px;
	float:left;
	position:relative;
	left:25%;
	font-size:18px;
	font-family: 'Volkhov', serif;
}

nav > ul > li > a{
	display:block;
	width:100%;
	color:#fff;
	text-align:center;
	line-height:90px;
}


nav > ul > li:hover > a{
	background-color:#313A6B;
}



nav > ul > li > ul > li{
	width:100%;
	line-height:40px;
	font-size:13px;
	text-align:center;
	background-color:#fff;
	transition:all 0.6s;
	position:relative;
	display:none;
}

nav > ul > li > ul > li:after{
	content:'';
	display:block;
	width:0;
	height:2px;
	background-color:#313A6B;
	position:absolute;
	top:80%;
	left:50%;
	transform:translate(-50%);
	transition:all 0.6s;
}

nav > ul > li > ul > li:hover:after{
	width:20%;
}

nav > ul > li > ul > li > a{
	display:block;
	width:100%;
	height:100%;
	font-family:'Noto Sans KR',sans serif;
	position:relative;
}

nav > ul > li > ul > li:hover a{
	color:#313A6B;
}


nav > ul > li:hover >ul > li{
	display:block;
}
/*********menu*********/


.mobile_menu_bar{
	display:none;
}




.menu_cover{
	position:fixed;
	width:100%;
	height:1000px;
	background-color:rgba(0,0,0,0.8);
	z-index:999;
	min-height:1000px;
	top:0;
	display:none;
}

.menu_cover .menu_box{
	width:1000px;
	height:387px;
	background-color:#fff;
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.menu_cover .menu_box .sitemap{
	position:relative;
	width:100%;
	height:60px;
	background-color:#212956;
}

.menu_cover .menu_box .sitemap span{
	display:table;
	margin:0 auto;
	line-height:60px;
	color:#fff;
	font-size:24px;
	font-weight:bold;
	font-family: 'Volkhov', serif;
}

.menu_cover .menu_box .sitemap i{
	position:absolute;
	right:25px;
	top:50%;
	transform:translateY(-50%);
	font-size:35px;
	color:#fff;
}

.menu_cover .menu_box > ul{
	position:relative;
	width:940px;
	height:267px;
	left:50%;
	transform:translate(-50%);
	
}

.menu_cover .menu_box > ul > li{
	position:relative;
	width:19%;
	height:50px;
	float:left;
	margin-left:1%;
	text-align:center;
	line-height:50px;
	font-family: 'Noto Sans KR', serif;
	font-weight:bold;
}

.menu_cover .menu_box > ul > li:after{
	content:'';
	width:100%;
	height:1px;
	background-color:black;
	position:absolute;
	bottom:0;
	left:0;
}

.menu_cover .menu_box > ul > li > ul > li{
	line-height:35px;
	font-family: 'Noto Sans KR', serif;
}

.menu_cover .menu_box > ul > li > ul > li a{
	width:100%;
	height:100%;
	color:#777;
	font-size:14px;
	font-weight:normal;
}

.menu_cover .menu_box > ul > li > ul > li:hover a{
	text-decoration:underline;
	color:#000;
}

.menu_cover .menu_box > ul > li:last-child{
	margin-left:none;
}

/*************mobile_menu***************/


.mobile_menu{
	width:280px;
	position:fixed;
	height:100%;
	z-index:999;
	background-color:#212956;
	top:0;
	right:0;
	border-left:1px solid #212956;
	display:none;

}

.mobile_menu .bar_area{
	position:relative;
	width:100%;
	height:50px;
}

.mobile_menu i{
	position:absolute;
	top:50%;
	right:15px;
	font-size:35px;
	transform:translateY(-50%);
	color:#fff;
	z-index:9999;
}

.mobile_menu_box{
	width:100%;
	height:100%;
}

.mobile_menu_box > ul > li a{
	display:block;
	width:100%;
	color:#fff;
	line-height:50px;
	border-top:1px solid #fff;
	box-sizing:border-box;
}

.mobile_menu_box > ul > li:last-child{
	border-bottom:1px solid #fff;
}

.mobile_menu_box > ul > li > ul > li a{
	display:block;
	color:#999;
	width:100%;
	background-color:#fff;
	line-height:30px;
	font-size:14px;
}

.mobile_menu_box > ul > li > ul{
	display:none;
}

	
/***********video************/	
	
#video_wrap{
	width:100%;
	height:1000px;
	position:relative;
	overflow:hidden;
}

#video_wrap video{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:auto;
	height:auto;
	min-width:1000px;
	min-height:1000px;
}

#video_wrap .black_cover{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color:#000;
	animation:black 2s 2s forwards; 
} 

@keyframes black{ 
	 0%{opacity:1;} 
	100%{opacity:0;}
} 

#video_wrap .main_logo{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:10%;
	min-width:70px;
	max-width:150px;
	animation:
}

#video_wrap .main_logo > img{
	width:118px;
	height:69px;
	display:block;
}

#video_wrap .main_logo .animation-logo{
	position:absolute;
	width:100%;
	left:0;
}
#video_wrap .main_logo .animation-logo img{
	width:118px;
	height:69px;
	position:absolute;
}

#video_wrap .main_logo .motion1{
	bottom:0;
	height:0;
	width:118px;
	animation:logo 0.7s 0s forwards;
	overflow:hidden;
}

#video_wrap .main_logo .motion1 > img{
	position:absolute;
	left:0;
	bottom:0;
}

#video_wrap .main_logo .motion2{
	height:0;
	top:0;
	width:118px;
	animation:logo 0.7s 0.6s forwards;
	overflow:hidden;
}

@keyframes logo{
	0%{height:0;}
	100%{height:100%;}
}

#video_wrap .main_logo .motion3{
	top:0;
	transform:scale(0);
	animation:scale 0.6s 1s forwards;
	transform-origin:85% 55%;
}

@keyframes scale{
	0%{transform:scale(0);}
	100%{transform:scale(1);}
}

#video_wrap .main_logo .motion4{
	top:0;
	opacity:0;
	animation:fade 1s 2s forwards;
}

@keyframes fade{
	0%{opacity:0;}
	100%{opacity:1;}
}

/*******************section*********************/

.first_section{
	width:1200px;
	height:300px;
	margin:105px auto;
	
}

.first_section .left_section{
	width:395px;
	height:300px;
	float:left;
}

.first_section .right_section{
	width:800px;
	height:300px;
	float:right;
}

.first_section .right_section li{
	float:left;
	margin-left:15px;
}

.first_section .right_section li:first-child{
	margin-left:0;
}

.first_section .left_section .left_section_title{
	width:100%;
	height:50px;
	color:gray;
	font-weight:bold;
	font-size:16px;
	line-height:50px;
	
}

.first_section .left_section h1{
	font-family: 'Volkhov', serif;
	font-size:42px;
	line-height:46px;
	color:#333;
	font-weight:400;
	position:relative;
	padding-bottom:40px;
	margin-bottom:35px;
	
}

.first_section .left_section h1:after{
	content:'';
	display:blcok;
	width:31px;
	height:2px;
	background-color:#333;
	position:absolute;
	bottom:0px;
	left:0px;
}

.first_section .left_section .left_title_last_p{
	font-size:14px;
	font-height:24px;
	color:#999;
	
}

.first_section .right_section li .img_box{
	width:255px;
	height:221px;
	overflow:hidden;
}

.first_section .right_section li .img_box:hover img{
	animation:img_box 0.8s forwards;
}

@keyframes img_box{
	0%{transform:scale(1);}
	100%{transform:scale(1.1);}
}

.first_section .right_section li .img_box img{
	display:block;
	width:255px;
	height:221px;
}

.first_section .right_section li .small{
	font-size:12px;
	font-weight:26px;
	color:#999;
}

.first_section .right_section .tit h3{
	margin-top:10px;
	line-height:38px;
}

/*********************second_section***********************/

.second_section{
	width:100%;
	position:relative;
	height:306px;
	overflow:hidden;
}

.second_section ul{
	margin:0 auto;
	width:100%;
	height:100%;
}

.second_section ul .link{
	float:left;
	width:50%;
	height:306px;
	position:relative;
}

.second_section ul .link .link_img_box{
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	transition:all 0.5s;
}	

.second_section ul .link .link_img_box img{
	width:100%;
	height:100%;
	transition:all 0.5s;
	
}

.second_section ul .link .link_tit_box{
	position:absolute;
	top:20%;
	width:100%;
	height:60%;
	color:#fff;
}

.second_section ul .link .link_tit_box p{
	margin:0 auto;
	display:table;
	font-size:16.5px;
	line-height:50px;
	font-family: 'Volkhov', serif;
	position:relative;
}

.second_section ul .link .link_tit_box>p:after{
	content:'';
	display:block;
	position:absolute;
	width:100%;
	height:2px;
	background-color:#fff;
	bottom:13px;
}

.second_section ul .link .link_tit_box h3{
	margin:0 auto;
	display:table;
	font-weight:300;
	font-size:28px;
	line-height:60px;
}

.second_section ul .link .link_tit_box .link_btn{
	margin:0 auto;
	width:118px;
	height:38px;
	line-height:36px;
	font-size:14px;
	text-align:center;
	position:relative;
}

.second_section ul .link .link_tit_box .link_btn i{
	position:absolute;
	right:20%;
	top:52%;
	font-size:14px;
	transform:translateY(-50%);
	transition:all 0.5s;
}

.second_section ul .link .link_tit_box .link_btn a{
	display:block;
	width:100%;
	height:100%;
	color:#fff;
	text-shadow:1px 1px 3px rgba(0, 0, 0, 0.6);
	border:1px solid #fff;
	box-sizing:border-box;
	position:relative;
	transition:all 0.2s;
}

.second_section ul .link .link_tit_box .link_btn a p{
	position:absolute;
	left:20%;
	font-size:14px;
	line-height:38px;
	font-family: 'Noto Sans KR', 'Volkhov', sans-serif;
}

.second_section ul .link .link_tit_box .link_btn a:before{
	content:'';
	display:block;
	position:absolute;
	width:0%;
	height:1px;
	background-color:#313A6B;
	left:-1px;
	top:-1px;
	transition:all 0.3s;
}

.second_section ul .link .link_tit_box .link_btn a:after{
	content:'';
	position:absolute;
	width:0%;
	height:1px;
	background-color:#313A6B;
	right:-1px;
	bottom:-1px;
	transition:all 0.3s;
	z-index:10;
}

.second_section ul .link .link_tit_box .link_btn a:hover{
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	border-left:1px solid #313A6B;
	border-right:1px solid #313A6B;
	box-sizing:border-box;
}

.second_section ul .link .link_tit_box .link_btn a:hover:after{
	width:118px;
}

.second_section ul .link .link_tit_box .link_btn a:hover:before{
	width:118px;
}

.second_section ul .link .link_tit_box .link_btn:hover i{
	right:10%;
}
.second_section ul .link:hover .link_img_box img{
	transform:scale(1.1);
}

/******************third_section*******************/

.third_section{
	clear:both;
	width:100%;
	height:524px;
	padding:110px 0;	
}

.third_section .brand_wrap{
	width:1200px;
	height:524px;
	margin:0 auto;
	position:relative;

}

.third_section .brand_wrap .brand_wrap_ul{
	width:1200px;
	height:600px;
	position:relative;
}

.third_section .brand_wrap .brand_wrap_box{
	width:1200px;
	height:600px;
	position:absolute;
}

.third_section .brand_wrap .right{
	display:none;
}

.third_section .brand_wrap .left{
}

.third_section .brand_wrap .brand_wrap_box a{
	display:block;
	position:absolute;
	bottom:50px;
	left:50%;
	transform:translate(-50%);
	width:195px;
	height:60px;
	background-color:#313A6B;
	border-radius:30px;
	font-size:15px;
	line-height:15px;
	letter-spacing:-0.5px;
	box-shadow:7px 7px 7px rgba(0, 0, 0, 0.28)
}

.third_section .brand_wrap .brand_wrap_box a span{
	display:table;
	margin:0 auto;
	font-size:15px;
	line-height:60px;
	color:#fff;	
	transition:all 0.2s;
}

.third_section .brand_wrap .brand_wrap_box a:hover span{
	font-size:16px;
}


.third_section .brand_wrap .brand_wrap_box .brand_wrap_img{
	width:100%;
	height:100%;
}

.third_section .brand_wrap .brand_wrap_box .brand_wrap_img .brand_wrap_img_one{
	position:absolute;
	left:-20px;
	top:100px;
}

.third_section .brand_wrap .brand_wrap_box .brand_wrap_img .brand_wrap_img_two{
	position:absolute;
	right:10px;
	bottom:-50px;
}

.brand_wrap_tit{
	position:absolute;
	width:100%;
	height:100%;
	top:0;

}

.brand_wrap_tit .brand_tit_box{
	width:600px;
	height:100%;
	margin:0 auto;
	position:relative;
	text-align:center;
	
}

.brand_wrap_tit .brand_tit_box h2{
	margin:0 auto;
	font-size:42px;
	line-height:100px;
	color:#333;
	font-family: 'Volkhov', serif;
	font-weight:300;
	margin-bottom:100px;
}

.brand_wrap_tit .brand_tit_box p{
	font-size:20px;
	line-height:25px;
	margin-bottom:30px;
}

.brand_wrap_tit .brand_tit_box span{
	display:block;
	font-size:14px;
	line-height:26px;
	color:#999;
	text-align:center;
	transition:all 0.6s;
}

.brand_wrap ul{
	position:absolute;
	width:150px;
	height:28px;
	left:50%;
	top:23%;
	transform:translate(-50%);
	z-index:25;
}

.brand_wrap ul li{
	float:left;
	width:75px;
	
}

.brand_wrap ul li img{
	display:block;
	width:25%;
	margin:0 auto;
	cursor: pointer;
}

.brand_wrap ul .brand_btn_prev:after{
	content:'';
	width:2px;
	height:80%;
	background-color:#999;
	position:absolute;
	left:50%;
	top:10%;
}

/***************fourth_section*****************/

.fourth_section{
	width:100%;
	height:783px;
	margin:0 auto;
	position:relative;
}

.fourth_section .fourth_section_bg{
	position:relative;
	width:100%;
	height:100%;
}

.fourth_section .fourth_section_bg img{
	position:absolute;
}

.fourth_section .fourth_section_bg .bg_img{
	width:100%;
}

.fourth_section .fourth_section_bg img:last-child{
	right:0%;
	top:10%;
}

.fourth_section .fourth_section_cover{
	width:80%;
	height:583px;
	margin:0 auto;
	position:relative;
	top:-100%;
	padding:100px 0;
}
.fourth_section .fourth_section_cover .fourth_section_box{
	position:absolute;
	width:612px;
	height:583px;
	overflow:hidden;
}

.fourth_section .fourth_section_cover .fourth_section_box h2{
	color:#fff;
	font-size:42px;
	line-height:50px;
	font-family: 'Volkhov', serif;
	font-weight:400;
}

.fourth_section .fourth_section_cover .fourth_section_box .fourth_section_slide{
	width:1836px;
	height:275px;
}

.fourth_section .fourth_section_cover .fourth_section_box .fourth_section_slide .fourth_imgs{
	width:612px; 
	float:left; 
	margin-top:50px;
	box-sizing:border-box;	
}

.fourth_section .fourth_section_cover .fourth_section_box .fourth_section_slide .fourth_imgs li{
	float:left; 
	margin-left:7px; 
	box-shadow:5px 5px 8px rgba(0, 0, 0, 0.23);
	width:296px; 
	height:200px;
}

.fourth_section .fourth_section_cover .fourth_section_box .fourth_section_slide .fourth_imgs li:first-child{
	margin-left:0;}

.fourth_section .fourth_section_cover .fourth_section_box .fourth_section_slide .fourth_imgs li img{
	width:296px; 
	height:200px;}

.fourth_section .fourth_section_cover .fourth_section_box .fourth_section_tit p{
	font-size:20px;
	line-height:25px;
	color:#333;
}

.fourth_section .fourth_section_cover .fourth_section_box .fourth_section_info p{
	font-size:14px; 
	line-height:26px; 
	color:#868686; 
	margin-top:20px; 
	margin-bottom:30px;}

.fourth_section .fourth_section_cover .fourth_section_box a{
	position:absolute;
	display:block;
	width:197px;
	height:62px;
	background-color:#313A6B;
	bottom:7px;
	border-radius:30px;
	box-shadow:7px 7px 7px rgba(0, 0, 0, 0.28);
	}
	
.fourth_section .fourth_section_cover .fourth_section_box a span{
	line-height:62px;
	color:#fff;
	display:table;
	margin:0 auto;
}

.fourth_section .fourth_section_cover .fourth_section_box a:hover span{
	font-size:16.5px;
}
	
.fourth_section_btn{
	position:absolute;
	width:102px;
	height:50px;
	top:60px;
	left:180px;
}	
	
.fourth_section_btn ul li{
	width:20px;
	height:30px;
	float:left;
	margin-left:20px;
}

.fourth_section_btn ul li img{
	display:block;
	width:100%;
	height:100%;
	cursor:pointer;
}

#bar{width:2px; height:30px; position:absoltue; background-color:#fff; margin-left:none; pointer:none;}
	
	
/*********************fifth_section************************/
	
.fifth_section{
	width:100%;
	height:400px;
	background:url(../img/main_menu_bg.jpg) no-repeat center /cover fixed;
	position:relative;
}
	
.fifth_section .fifth_section_box{
	width:1200px;
	height:270px;
	margin:30px auto;
	position:relative;
	top:95px;
}
	
.fifth_section .fifth_section_box .fifth_section_box_tit{
	width:407px;
	height:100%;
	float:left;
}

.fifth_section .fifth_section_box .fifth_section_box_tit p{
	font-size:16px;
	line-height:50px;
	color:#fff;
	opacity:0.5;
}

.fifth_section .fifth_section_box .fifth_section_box_tit h2{
	font-size:42px;
	line-height:46px;
	color:#fff;
	font-weight:400;
	font-family: 'Volkhov', serif;
	position:relative;
	padding-bottom:40px;
	margin-bottom:35px;
}

.fifth_section .fifth_section_box .fifth_section_box_tit h2:after{
	content:'';
	position:absolute;
	bottom:0px;
	left:0px;
	width:31px;
	height:2px;
	background-color:#fff;
}

.fifth_section .fifth_section_box .fifth_section_box_tit h6{
	font-size:14px;
	line-height:24px;
	color:#fff;
	opacity:0.6;
}
	
.fifth_section .fifth_section_box .fifth_section_box_right{
	width:793px;
	height:100%;
	float:right;
}

.fifth_section .fifth_section_box .fifth_section_box_right .fifth_section_box_ul{
	width:100%;
	height:100%;
}
	
.fifth_section .fifth_section_box .fifth_section_box_right .fifth_section_box_ul li{
	width:20%;
	height:100%;
	float:left;
	margin:0 2%;
}	

.fifth_section .fifth_section_box .fifth_section_box_right .fifth_section_box_ul li:first-child{
	margin-left:none;
}

.fifth_section .fifth_section_box .fifth_section_box_right .fifth_section_box_ul li:last-child{
	margin-right:none;
}

.fifth_section .fifth_section_box .fifth_section_box_right .fifth_section_box_ul li a{
	display:block;
	width:100%;
	height:100%;
}

.fifth_section .fifth_section_box .fifth_section_box_right .fifth_section_box_ul li a img{
	display:block;
	width:100%;
	height:auto;
	margin-top:13.5px;
	transition:all 0.2s;
}

.fifth_section .fifth_section_box .fifth_section_box_right .fifth_section_box_ul li a:hover img{transform:scale(1.07)}

	
.fifth_section .fifth_section_box .fifth_section_box_right .fifth_section_box_ul li h3{
	font-size:15px;
	line-height:25px;
	color:#fff;
	font-weight:300;
	text-align:center;
	margin-top:10px;
}	

.fifth_section .fifth_section_box .fifth_section_box_right .fifth_section_box_ul li p{
	font-size:12px;
	line-height:25px;
	color:#fff;
	opacity:0.6;
	text-align:center;
}
	
/********************slide_section**********************/
	
.slide_section{
	width:100%;
	height:300px;
	margin:100px 0;

}	

.slide_section .slide_section_cover{
	width:1200px;
	height:auto;
	margin:0 auto;

}

.slide_section .slide_section_cover ul{
	width:300%;
	height:100%;
	
}

.slide_section .slide_section_cover ul li{
	width:33.3%;
	height:100%;
	float:left;
}

.slide_section .slide_section_cover ul li img{
	display:block;
	width:100%;
	height:100%;
}
	
/******************franchise_section*******************/

.franchise{
	width:100%;
	height:760px;
	/* overflow:hidden; */
}
	
.franchise .franchise_bg{
	width:100%;
	height:760px;
	position:relative;
}	

.franchise .franchise_bg ul{
	position:relative;
	width:100%;
}

.franchise .franchise_bg ul li{
	position:absolute;
	width:100%;
	height:760px;
}


.franchise .franchise_bg ul li img{
	width:100%;
	height:100%;
}
	
.franchise .franchise_bg .franchise_tit{
	position:absolute;
	width:50%;
	height:100%;
	top:0;
	left:50%;
	transform:translate(-50%);
	color:#fff;
	text-align:center;
}	
	
.franchise .franchise_bg .franchise_tit p{
	font-family: 'Volkhov', serif;
	margin:130px auto;
	letter-spacing:-1px;
	position:relative;
}	

.franchise .franchise_bg .franchise_tit p:after{
	content:'';
	display:block;
	width:100px;
	height:2px;
	background-color:#fff;
	position:absolute;
	top:100%;
	left:50%;
	transform:translate(-50%);
	z-index:888;
}
	
.franchise .franchise_bg .franchise_tit h2{
	font-size:42px;
	line-height:56px;
	font-weight:300;
	margin-bottom:40px;
}	
	
.franchise .franchise_bg .franchise_tit span{
	display:block;
	font-size:14px;
	line-height:26px;
}	
	
.franchise .franchise_bg .franchise_tit a{
	display:table;
	width:150px;
	height:50px;
	border:1px solid #fff;
	margin:80px auto;
	background-color:rgba(255,255,255,0.1);
}	

.franchise .franchise_bg .franchise_tit a span{
	color:#fff;
	line-height:50px;
}
	
.franchise .franchise_bg .franchise_btn{
	position:relative;
}	
	
.franchise .franchise_bg .franchise_prev{
	position:absolute;
	left:16%;
	top:50%;
	transform:translateY(-50%);
	transition:all 0.5s;
}
	
.franchise .franchise_bg .franchise_next{
	position:absolute;
	right:16%;
	top:50%;
	transform:translateY(-50%);
	transition:all 0.5s;
}
	
.franchise .franchise_bg .franchise_prev:hover{
	left:15%;
}	
	
.franchise .franchise_bg .franchise_next:hover{
	right:15%;
}		
	
/***************request*****************/	
	
	

	
/********************footer***********************/	
#fake_footer{
	
	width:100%;
	height:100px;
	
}


footer{width:100%; height:123px; position:relative; z-index:999999;}

.footer_box{
	width:1200px;
	height:71px;
	position:relative;
	margin:0 auto;
	top:50%;
	transform:translateY(-50%);
}

.footer_box .footer_left{
	float:left;
	width:800px;
	height:100%;
}

.footer_box .footer_left p{
	font-size:13px;
	line-height:24px;
	color:#9a9a9a;
}

.footer_box .footer_left span{
	display:block;
	font-size:13px;
	line-height:24px;
	margin-top:10px;
	color:#666;
	font-weight:300;
}

.footer_box .footer_right{
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
}

/**************************************/

.request{
	width:100%;
	background-color:#222;
	position:absolute;
	left:0;
	bottom:100%;
	
}	

.request a{
	display:block;
	width:100%;
	height:100px;
	position:relative;
}
.request p{	
	color:#b59d52;
	text-align:center;
	line-height:100px;
	font-weight:500;
	letter-spacing:6px;
	font-size:24px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
	
.request img{
	width:20px;
	height:auto;
	vertical-align:middle;
}	

.request .request_box{
	width:100%;
	height:313px;
	background-color:#222;
	position:relative;
	top:100%;
	display:none;
}

.request .request_box .request_box_cover{
	width:1200px;
	height:277px;
	background-color:#222;
	margin:0 auto;
	position:relative;
}

.request_left{float:left; position:absolute;}

.request_left dl{width:588px; height:62px; background-color:#333;margin-bottom:5px;}

.request_left dt{width:20%; height:100%; float:left;}
.request_left dt span{display:block; width:100%; height:100%; line-height:60px; text-align:center; color:#999; font-weight:bold;}


.request_left dt dd{width:80%; height:100%; float:left;}

dd input{width:150px; height:60px; background-color: transparent;
border:transparent;}


.request_right{
	position:absolute;
	right:0;
	float:right;
	width:588px;
	height:198px;
	background-color:#333;
}

.request_right span{
	display:block;
	width:100%;
	float:left;
	margin:10px 40px;
	color:#999;
	font-weight:bold;
}

.request_right textarea{
	width:500px;
	height:130px;
	float:left;
	margin-left:50%;
	transform:translate(-50%);
	background-color: transparent;
	border:transparent;
}

.request_bottom{
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;
	background-color:#777;
}

.request_bottom p{
	width:100px;
	height:100%;
	font-size:16px;
	letter-spacing:6px;
	color:#333;
	line-height:60px;
	margin-left:50%;
	transform:translate(-50%);
	font-weight:bold;
}








