@charset "utf-8";
@font-face{
	font-family: "Gothic";
	src: url(../font/Gothic.ttf) format("truetype"),
			url(../font/Gothic.woff) format("woff"),
			url(../font/Gothic.eot) format("embedded-opentype");
}
*{margin: 0; padding: 0;}
ul,li{list-style:none;}
a{text-decoration: none; color: #000;}
.cf:after{
	content: '';
	display: block;
	clear: both;
}

body{
	height: 5000px;
	font-family: Gothic;
}
#wrap{
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;	
}

.curtain{
	position: fixed; 
	top: 0; left: 0;
	width: 100%; height: 100%;
	pointer-events: none;
}
.curtain .bg_curtain{
	position: relative;
	width: 50%; height: 100%; 
	transition: all 0.6s;
}
.curtain .left_curtain{
	background: url(../img_etc/curtain.png) no-repeat left center /cover;
	float: left;
}
.curtain .right_curtain{
	background: url(../img_etc/curtain.png) no-repeat right center /cover;
	float: right;
}


.movie_enter{
	position: absolute;
	top: 50%; left: 50%; 
	transform: translate(-50%, -50%);
	width: 90; height: 400px; 
	cursor: pointer;
}
.movie_enter img{
	display: block;
	width: 100%; height: auto;
	transform-origin: top center;
}
.movie_enter img:active{
	transform: scale(0.7);
}

.screen{
	position: fixed;
	left: 0; top: 0;
	width: 100%; height: 100%; 
	background: url(../img_etc/screen_cover.jpg) no-repeat center /cover;
}

.screen_inner{
	position: absolute;
	left: 50%; top: 40%;
	transform: translate(-50% ,-50%);
	width: 640px; height: 360px;
	border: 1px solid #fff;
}

.movie_close{
	position: absolute;
	top: 10%; right: 20%; 
	width: 40px; height: 40px;
}
.movie_close span{
	display: block;
	position: absolute;
	right: 50%; top: 0;
	width: 5px; height: 40px; 
	background-color: #fff;	
	border-radius: 20px;
	transition: all 0.6s;
}
.right_x{transform: rotate(45deg);}
.left_x{transform: rotate(-45deg);}

.movie_close:hover .right_x{transform: rotate(90deg);}
.movie_close:hover .left_x{transform: rotate(-90deg);}

.movie_close a{
	width: 100%; height: 100%; 
	display: block;
}

.start{
	position: absolute;
	bottom: 20%; left: 15%;
	width:50px;
	z-index: 999;
}
.start img{
	width: 100%; height: auto;
	display: block;
	opacity: 0;
	animation: twinkle 500ms infinite alternate;
}
@keyframes twinkle{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
.start_txt{
	position: absolute;
	top: 100%; left: 0;
	width: 300px; 
	color: #fff;
	font-size: 14px;
}



