@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
*{margin:0; padding:0;}
ul,li{list-style:none;}
a{text-decoration:none; color:#333;}

body{font-family: 'Nanum Gothic', sans-serif;}

.mobile{
	display:none;
}

header{
	width:100%;
	height:88px;
	background-color:#E21F26;
	position:fixed;
	z-index:9999;
}

#fake_header{width:100%; height:88px; visibility:hidden;}

header .header_cover{
	width:1170px;
	height:80px;
	margin:0 auto;
}

header .header_cover #logo{
	width:230px;
	padding:18px 0;
	height:auto;
	float:left;
}

header .header_cover #logo img{
	max-width:230px;
	height:auto;
}

nav{
	float:right;
	width:70%;
	height:88px;
	margin-right:20px;
	z-index:9999;
}

nav > ul > li{
	float:left;
	margin:17px 0 0 60px;
	position:relative;
	height:88px;
}

nav > ul > li > a{
	display:block; 
	width:100%; 
	padding:18px 0; 
	font-size:15px; 
	font-weight:bold; 
	color:#fff; 
}

nav > ul > li > a span{
	position:relative;
}

nav > ul > li > a span:before{
	content:'';
	width:8px;
	height:8px;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	position:absolute;
	left:-10px;
	top:-10px;
	opacity:0;
	transition:all 0.3s;
	
}

nav > ul > li > a span:after{
	content:'';
	display:block;
	width:8px;
	height:8px;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	position:absolute;
	right:-10px;
	bottom:-10px;
	opacity:0;
	transition:all 0.3s;
}

nav > ul > li:hover > a span:before{
	top:-8px;
	left:-8px;
	opacity:1;
}

nav > ul > li:hover > a span:after{
	right:-8px;
	bottom:-8px;
	opacity:1;
}

#login{
	float:right;
	padding:33px 0;
	font-size:14px;
}

#login a{color:#fff;}
#login a:hover{color:#333; transition:all 0.6s;}

nav > ul > li > ul{
	position:absolute;
	top:80%;
	width:180px;
	background-color:#fff;
	transition:all 0.6s;
}

nav > ul > li > ul > li{
	width:100%;
	height:40px;
	float:left;
	line-height:40px;
	font-size:12px;
	font-weight:bold;
	background-color:#fff;
	transition:all 0.6s;
	display:none;
}

nav > ul > li > ul > li > a{
	display:block;
	width:80%;
	height:100%;
	margin-left:10%;
}
	
nav > ul > li > ul > li:hover{
	background-color:#E21F26;
}
nav > ul > li > ul > li:hover a{
	color:#fff;
}

nav > ul > li:hover >ul>li{
	display:block;
}

/*******************section-slide*************************/

section{width:100%; height:1360px; background-color:#C5B591; z-index:-2;} 

section .slide{
	width:1200px;
	height:600px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}

section .slide .slide_img{
	width:400%;
	height:600px;
	position:relative;
	transition:all 0.6s;
}

section .slide > ul > li{
	width:1200px;
	height:600px;
	position:relative;
	float:left;
}
	
section .slide > ul > li img{
	width:100%;
	height:auto;
}

section .slide_img span{
	width:330px;
	height:50px;
	background-color:#000;
	color:#fff;
	position:absolute;
	bottom:40px;
	left:50px;
	z-index:90;
	line-height:50px;
	text-align:center;
	font-size:30px;
	border-left:10px solid #E21F26;
}
	
section .slide label{
	position:absolute;
	display:block;
	width:10px;
	height:10px;
	background-color:#fff;
	border-radius:50%;
	left:50%;
	bottom:10px;
	transform:translateX(-50%);
	z-index:20;
}

section .slide .slide1{
	margin-left:-20px;
}

section .slide .slide3{
	margin-left:20px;
}

section .slide input{
	display:none;
}
	
#slide1:checked ~ .slide_img{
	left:0;
}
#slide2:checked ~ .slide_img{
	left:-100%;
}
#slide3:checked ~ .slide_img{
	left:-200%;
}

.slide input:checked + label{
	background-color:#E21F26;
	width:13px;
	height:13px;
}

/*******************section-notice************************/

.notice{
	width:1200px;
	height:60px;
	margin:0 auto;
	position:relative;
	clear:both;
}

.notice .notice_left{
  width:600px;
  height:60px;
  float:left;
  background-color:#000;
  position:relative;
  top:0;
  left:0;
}

.notice .notice_left dl{
	width:600px;
	height:20px;
	margin:20px 0;
}

.notice .notice_left dl dt{
	color:#fff;
	margin-left:80px;
	float:left;
	font-size:20px;
}

.notice .notice_left dl dd{
	width:300px;
	float:left;
	margin-left:50px;

}

.notice .notice_left .notice_auto{
	position:relative;
	width:300px;
	height:16px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.notice .notice_left .notice_auto ul li {
	font-size:15px;
	position:absolute;
	width:300px;
	height:15px;
	top:100%;


}
.notice .notice_left .notice_auto ul li:first-child{
	position:absolute;
	width:346px;
	height:15px;
	top:0;
}

.notice .notice_left .notice_auto ul li a{
	display:block;
	color:#fff;
	width:300px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.notice .notice_left p{
	position:absolute;
	top:22px;
	right:40px;
}

.notice .notice_left p i{
	color:#fff;
	width:10px;
}


.notice .notice_right{
	width:600px;
	height:60px;
	float:right;
	background-color:#fff;
}

.notice .notice_right a{
	width:600px;
	height:60%;
}

.notice .notice_right a p{
	width:80px;
	margin:20px 250px;
	font-weight:bold;
	float:left;
	font-size:18px;
}

.notice .notice_right span{
	position:absolute;
	right:200px;
	top:20px;
}

.notice .notice_right span i{
	font-size:22px;
}

/********************section-article***********************/

.article_box{
	width:1200px;
	height:700px;
	margin:0 auto;
}

article{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
	}

article img{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	transition:all 1s;
}


.article_box article:nth-child(1){
	width:50%;
	height:60%;
	float:left;
}

.article_box article:nth-child(2){
	width:25%;
	height:40%;
	float:left;
}
.article_box article:nth-child(3){
	width:25%;
	height:40%;
	float:left;
}
.article_box article:nth-child(4){
	width:50%;
	height:60%;
	float:right;
}
.article_box article:nth-child(5){
	width:25%;
	height:40%;
	float:right;
}
.article_box article:nth-child(6){
	width:25%;
	height:40%;
	float:right;
}


.article_box article a{
	position:absolute;
	display:block;
	width:90%;	
	height:90%;
	margin-top:5%;
	margin-left:5%;
	background-color:rgba(255,255,255,0.8);
	transition:all 0.6s;
	opacity:0;
}

.article_box article a h1{
	display:block;
	width:100%;
	height:20px;
	padding-top:30%;
	color:#E21F26;
}

.article_box article a h1 p{
	display:table;
	margin:0 auto;
}

.article_box article .line{
	width:0;
	margin:15px auto;
	height:2px;
	background-color:#777;
	line-height:40px;
	transition:all 0.6s;
	
}

.article_box article .line span{
	display:table;
	margin:0 auto;
	white-space:nowrap;
}

.article_box article:hover a{
	opacity:1;
}

.article_box article:hover img{
	transform:scale(1.1);
}

.article_box article:hover .line{
	width:40%;
}

/***********************aisde****************************/	
	
aside{
	width:100%;
	height:600px;
}
	
aside .aside_title{
	width:1140px;
	height:150px;
	margin:0 auto;
}	
	
aside .aside_title P{display:table; margin:0 auto; margin-top:80px; font-size:18px; font-weight:bold;}	
aside .aside_title h2{display:table; margin:0 auto; margin-top:10px; font-size:35px; font-weight:bold; text-shdow:rgb(211, 211, 211) 1px 1px;}	
	
	
.aside{
	width:1140px;
	height:400px;
	margin:0 auto;
}	
	
.aside .aside_box{
	width:30%;
	height:400px;
	margin-left:2.5%;
	box-sizing:border-box;
	float:left;
}	

.aside .aside_box img{
	width:100%;
	height:auto;
}	
	
.aside .aside_box span{
	display:block;
	font-weight:bold;
	font-size:20px;
	margin:10px 0;
}
	
.aside .aside_box p{
	font-weight:normal;
	font-size:15px;
	line-height:20px;
}	
	
.aside .aside_box a{
	display:block;
	font-family: 'Oswald', sans-serif;
	width:60px;
	margin-top:20px;
	position:relative;
}	

.aside .aside_box a:after{
	content:'';
	display:block;
	position:absolute;
	top:0;
	width:100%;
	height:2px;
	background-color:#E21F26;
	transition:animation 0.6s;
	opacity:0;
	
}

@keyframes after{
	0%{transform:translateY(2px);}
	100%{transform:translateY(20px);}
	
}
	
.aside .aside_box a:hover{
	color:#E21F26;
}	
	
.aside .aside_box a:hover:after{
	display:block;
	animation:after 0.6s forwards;
	opacity:1;
}	
	
/*****************aside_end************************/
	
	
.membership{
	width:100%;
	height:100px;
	background-color:#E21F26;
}
	
.membership .mbs_cover{
	width:1170px;
	height:100px;
	margin:0 auto;
}	
	
.membership .mbs_cover p{
	line-height:100px;
	width:50%;
	float:left;
	margin-left:50px;
	color:#fff;
}	
	
.membership .mbs_cover a{
	float:right;
	display:block;
	position:relative;
	width:144px;
	height:51px;
	margin-right:50px;
	margin-top:25px;
	border:1px solid #fff;
}	

.membership .mbs_cover .white{
	position:absoltue;
	width:auto;
	height:0;
	bottom:0;
	background-color:#fff;
	transition:all 0.6s;
	transform-origin: transform bottom;
}
	
.membership .mbs_cover a span{
	position:absoltue;
	display:table;
	margin:0 auto;
	padding:15px 0;
	color:#fff;
	transition:all 0.6s;
}	

.membership .mbs_cover a:hover .white{
	height:100%;
}

.membership .mbs_cover a:hover span{
	color:#333;
}
	
/******************footer*********************/
	
footer{
	width:100%;
	height:450px;
	background-color:#333;
}	

.footer{
	width:1140px;
	height:110px;
	margin:0 auto;
}

.footer .footer_logo{
	padding:50px 0;
	height:50px;
	border-bottom:1px solid #444;
}
	
.footer .footer_logo a{
	float:left;
	width:220px;
	height:100%;
}	
	
.footer .footer_logo a img{
	width:220px;
	height:auto;
}	
	
.footer .footer_logo span{
	diplay:block;
	float:left;
	margin-left:50px;
	line-height:50px;
	color:#fff;
	font-size:16px;
}	
	
.footer .footer_title{
	width:1140px;
	height:70px;
}	
	
.footer .footer_title .footer_title_content{
	float:left;
	width:30%;
	height:50px;
	margin-right:5%;
	box-sizing:border-box;
	margin-top:30px;
}	
	
.footer .footer_title .footer_title_content:nth-child(3){
	margin-right:0;
}	
	
.footer .footer_title .footer_title_content h4{
	display:inline-block;
	color:#fff;
	font-size:20px;
	font-weight:normal;
	border-bottom:1px solid #E21F26;
	padding-bottom:15px;
	z-index:30;
}	
	
.footer .footer_title .footer_title_content .line{
	display:block;
	width:100%;
	height:1px;
	background-color:#fff;
	margin-top:-1px;
}	
	
.footer .footer_content{
	width:1140px;
	height:230px;
	margin:0 auto;
}	
	
.footer .footer_content .footer_box{
	width:30%;
	height:200px;
	float:left;
	margin-right:5%;
	color:#d0d0d0;
	font-size:14px;
	border:1px solid #333;
	box-sizing:border-box;
}	
	
.footer .footer_content .footer_box:last-child{
	margin-right:0;
}	
	
.footer .footer_content .footer_box .margin > li{
	margin-bottom:10px;
	vertical-align:middle;
}	

.footer .footer_content .footer_box .margin > li p{
	width:70%;
	float:right;
	margin-right:60px;
}

.footer .footer_content .footer_box .margin > li i{
	font-size:30px;
	color:#d0d0d0;
}

.footer .footer_content .footer_box .floatleft > li{
	width:50%;
	height:30px;
	float:left;
}

.footer .footer_content .footer_box ul > li a{
	color:#d0d0d0;
	font-size:12px;
}	
	
.footer .footer_content .footer_box .floatleft a:hover{
	color:#E21F26;
}	
	
.footer_bottom{
	width:100%;
	height:80px;
	background-color:#000;
}	
	
.footer_bottom p{
	color:#fff;
	display:table;
	margin:0 auto;
	padding-top:20px;
	font-size:12px;
}	

.footer_bottom .copyright{
	width:200px;
	height:20px;
	margin:10px auto;
}

.footer_bottom .copyright a{
	font-size:12px;
	color:#fff;
}

.footer_bottom .copyright span{
	color:#fff;
	margin-left:5px;
}


	