@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Open+Sans&display=swap');
*{margin:0;padding:0;}
ul,li{list-style:none;}
a{text-decoration:none;color:#000;}
.cf:after{display:block;content:'';clear:both;}

body{
	font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
}

#wrap{
	widtH:100%;
	min-width:960px;
	height:auto;
}

header{
	width:100%;
	height:135px;
}

header .top_menu{
	width:100%;
	height:35px;
	background-color:#434343;
}

header .top_menu .top_center{
	width:960px;
	height:35px;
	margin:0 auto;
	
}

header .top_menu .top_center ul{
	float:right;
}

header .top_menu .top_center ul li{
	float:left;
}

header .top_menu .top_center .sns li img{
	display:block;
}

.etc_menu li{
	padding:0 10px;
	line-height:35px;
	font-size:0.8em;
	background-color:#333;
	color:#c7c7c7;
	font-weight:bold;
	border-right:2px solid #434343;
}

header .top_menu .top_center .etc_menu li a{
	color:#c7c7c7;
}

header .bottom_header{
	width:100%;
	height:100px;
	background-color:#fff;
	background-color:#ddd;
	position:relative;
}

.etc_menu li:last-child{
	border-right:none;
}

header .top_menu .top_center .etc_menu li input{
	vertical-align:middle;
}

header .top_menu .top_center .etc_menu li input[type="text"]{
	padding:2px;
	background-color:#434343;
	color:#fff;
	margin:0 5px;
	border:none;
	outline-color:hotpink;
}
header .top_menu .top_center .etc_menu li input[type="image"]{
	outline-color:hotpink;
}

header .bottom_header .bottom_center{
	width:960px;
	height:100px;
	margin:0 auto;
}

.bottom_center .logo{
	float:left;
	width:25%;
}

.bottom_center .logo img{
	width:100%;
	height:auto;
	display:block;
	margin-top:7%;
}

.bottom_center .nav{
	width:75%;
	float:left;
}

.bottom_center .nav>li{
	float:left;
	width:16.66%;
	line-height:100px;
	text-align:center;
	font-size:17px;
	font-weight:bold;
	position:relative;
}

.bottom_center .nav>li>a{
	display:block;
	color:#666;
}

.bottom_center .nav>li:hover>a{
	color:#db590b;
}

.bottom_center .nav>li>ul{
	position:absolute;
	left:0;
	top:100%;
	font-size:12px;
	line-height:30px;
	width:100%;
	height:0px;
	overflow:hidden;
	transition:all 0.4s;
	z-index:11;
}

.bottom_center .nav:hover>li>ul{
	height:300px;
}

.letter{
	letter-spacing:-1px;
}
.bottom_center .nav>li>ul>li>a{
	color:#666;
}

.bottom_center .nav>li>ul>li>a:hover{
	color:#db590b;
}

.fulldown_bg{
	width:100%;
	height:0px;
	background-color:rgba(255,255,255,0.8);
	transition:all 0.4s;
	position:absolute;
	top:100%;
	left:0;
	z-index:10;
}

.nav:hover + .fulldown_bg{
	height:300px;
}
/*header end*/

/*img_slide start*/

.img_slide{
	width:100%;
	height:500px;
	position:relative;
	background-color:rgba(255,0,0,0.3);
}

.img_slide label{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	z-index:9;
	cursor:pointer;
	bottom:50px;
	left:50%;
}

.img_slide label.btn_1{
	margin-left:-200px;
	background-image:url(../img/visual_icon1.png);
}
.img_slide label.btn_2{
	margin-left:-130px;
	background-image:url(../img/visual_icon2.png);
}
.img_slide label.btn_3{
	margin-left:-60px;
	background-image:url(../img/visual_icon3.png);
}
.img_slide label.btn_4{
	margin-left:10px;
	background-image:url(../img/visual_icon4.png);
}
.img_slide label.btn_5{
	margin-left:80px;
	background-image:url(../img/visual_icon5.png);
}
.img_slide label.btn_6{
	margin-left:150px;
	background-image:url(../img/visual_icon6.png);
}

.img_slide input#btn1:checked + label.btn_1{
	background-image:url(../img/visual_icon1_on.png);
}
.img_slide input#btn2:checked + label.btn_2{
	background-image:url(../img/visual_icon2_on.png);
}
.img_slide input#btn3:checked + label.btn_3{
	background-image:url(../img/visual_icon3_on.png);
}
.img_slide input#btn4:checked + label.btn_4{
	background-image:url(../img/visual_icon4_on.png);
}
.img_slide input#btn5:checked + label.btn_5{
	background-image:url(../img/visual_icon5_on.png);
}
.img_slide input#btn6:checked + label.btn_6{
	background-image:url(../img/visual_icon6_on.png);
}

.img_slide input{
	display:none;
}

.img_slide .slide{
	width:100%;
	height:100%;
	position:relative;
}

.img_slide .slide li{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	opacity:0;
	z-index:0;
	transition:all 0.5s;
}

.img_slide .slide li a{
	display:block;
	widtH:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.img_slide .slide li.img1 a{
	background-image:url(../img/bg1.jpg);
}
.img_slide .slide li.img2 a{
	background-image:url(../img/bg2.jpg);
}
.img_slide .slide li.img3 a{
	background-image:url(../img/bg3.jpg);
}
.img_slide .slide li.img4 a{
	background-image:url(../img/bg4.jpg);
}
.img_slide .slide li.img5 a{
	background-image:url(../img/bg5.jpg);
}
.img_slide .slide li.img6 a{
	background-image:url(../img/bg6.jpg);
}

.img_slide input#btn1:checked ~ .slide li.img1{
	opacity:1;
	z-index:3;
}
.img_slide input#btn2:checked ~ .slide li.img2{
	opacity:1;
	z-index:3;
}
.img_slide input#btn3:checked ~ .slide li.img3{
	opacity:1;
	z-index:3;
}
.img_slide input#btn4:checked ~ .slide li.img4{
	opacity:1;
	z-index:3;
}
.img_slide input#btn5:checked ~ .slide li.img5{
	opacity:1;
	z-index:3;
}
.img_slide input#btn6:checked ~ .slide li.img6{
	opacity:1;
	z-index:3;
}

/*img_slide end*/

/*공통 스타일 지정*/
.section{
	width:100%;
	height:auto;
	background-color:#eaeaea;
	padding-top:15px;
}

.section .s_center{
	width:960px;
	margin:0 auto;
}

/*main_middle start*/

.middle_center{
	height:220px;
}

.middle_center .m_left{
	width:72%;
	height:220px;
	float:left;
	background:url(../images/pop_2.png) no-repeat center /cover;
}

.middle_center .m_right{
	width:28%;
	height:220px;
	float:left;
}

.middle_center .m_right .category{
	width:100%;
	height:100%;
}

.middle_center .m_right .category li{
	width:33.33%;
	height:50%;
	float:left;
}

.middle_center .m_right .category li a{
	display:block;
	width:100%;
	height:100%;
	background-color:#60b892;
	background-repeat:no-repeat;
	background-position:50% 32%;
	text-align:center;
	line-height:160px;
	font-size:0.85em;
	color:#fff;
	box-sizing:border-box;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}
.middle_center .m_right .category li:nth-child(3n) a{
	border-right:none;
}
.middle_center .m_right .category li.c_4 a,
.middle_center .m_right .category li.c_5 a,
.middle_center .m_right .category li.c_6 a{
	border-bottom:none;
}	

.middle_center .m_right .category li.c_1 a{
	background-image:url(../images/iconquick01.png);
}
.middle_center .m_right .category li.c_2 a{
	background-image:url(../images/iconquick02.png);
}
.middle_center .m_right .category li.c_3 a{
	background-image:url(../images/iconquick03.png);
}
.middle_center .m_right .category li.c_4 a{
	background-image:url(../images/iconquick04.png);
}
.middle_center .m_right .category li.c_5 a{
	background-image:url(../images/iconquick05.png);
}
.middle_center .m_right .category li.c_6 a{
	background-image:url(../images/iconquick06.png);
}

.middle_center .m_right .category li a:hover{
	background-color:#db590b;
}

/*main_middle end*/

/*main_bottom start*/

.b_center{
	height:235px;
	border:1px solid #d5d5d5 !important;
	box-sizing:border-box;
}

.b_center .bottom_section{
	width:33.33%;
	height:100%;
	float:left;
	background-color:#fff;
	box-sizing:border-box;
	border-right:1px soid #d5d5d5;
}

.bottom_section.event{
	border-right:0;
}

.b_center .bottom_section .title{
	width:90%;
	height:25px;
	margin:4% auto;
}
.b_center .bottom_section .title h3{
	float:left;
	color:#666;
}

.b_center .bottom_section .title img{
	widtH:20px;
	height:auto;
	float:right;
	margin-top:5px;
}

.b_center .bottom_section .text{
	width:90%;
	margin:0 auto;
}

.b_center .bottom_section .text ul li{
	width:100%;
	box-sizing:border-box;
	padding-left:15px;
	background:url(../images/roll_off.png) no-repeat left center /5px; 
	font-size:0.8em;
	margin:10px 0;
	white-space:nowrap;
	overflow:hidden;
	/*줄바꿈방지*/
	text-overflow:ellipsis;
}

.b_center .bottom_section .text ul li a{
	color:#666;
}

.b_center .bottom_section .event_img{
	width:90%;
	height:130px;
	margin:0 auto;
	background:url(../images/banner.jpg) no-repeat center /cover;	
}

/*main_bottom end*/

/*quickmenu start*/

.q_center{
	height:50px;
}

.q_center .q_left{
	width:20%;
	height:100%;
	float:left;
	text-align:center;
	line-height:50px;
	background:url(../images/pattern.gif) no-repeat center /cover;
	font-weight:bold;
	box-sizing:border-box;
	border:1px solid #d5d5d5;
}

.q_center .q_right{
	width:80%;
	height:50px;
	float:left;
}

.q_center .q_right ul li{
	float:left;
	width:33.33%;
	height:50px;
	text-align:center;
	line-height:50px;
	background-color:#fff;
	border:1px solid #d5d5d5;
	border-left:none;
	font-size:0.85em;
	box-sizing:border-box;
}

.q_center .q_right ul li a{
	display:block;
	width:100%;
	height:100%;
	color:#666;
}

.q_center .q_right ul li a:hover{
	color:#e55f0f;
}

.q_center .q_right ul li a img{
	vertical-align:middle;
	margin-right:8px;
}

/*quickmenu end*/

/*partner start*/

.section.partner{
	padding-bottom:15px;
}

.p_center{
	height:50px;
}

.p_center .p_left{
	width:88%;
	height:50px;
	float:left;	
}

.p_center .p_left ul{
	width:100%;
	height:100%;
}

.p_center .p_left ul li{
	width:16%;
	height:100%;
	float:left;
	margin-right:0.8%;
}

.p_center .p_left ul li:last-child{
	margin-right:0;
}

.p_center .p_left ul li a{
	width:100%;
	height:100%;
	display:block;
	border:1px solid #d5d5d5;
	box-sizing:border-box;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
}
	
.p_center .p_left ul li:nth-child(1) a{
	background-image:url(../images/footer_imagedoc01.gif)
}
.p_center .p_left ul li:nth-child(2) a{
	background-image:url(../images/footer_imagedoc02.gif)
}
.p_center .p_left ul li:nth-child(3) a{
	background-image:url(../images/footer_imagedoc03.gif)
}
.p_center .p_left ul li:nth-child(4) a{
	background-image:url(../images/footer_imagedoc04.gif)
}
.p_center .p_left ul li:nth-child(5) a{
	background-image:url(../images/footer_imagedoc05.gif)
}
.p_center .p_left ul li:nth-child(6) a{
	background-image:url(../images/footer_imagedoc06.gif)
}

.p_center .p_right{
	width:10%;
	height:50px;
	float:right;
}

.p_center .p_right .button{
	width:33.33%;
	height:100%;
	float:left;
	border:1px solid #d5d5d5;
	box-sizing:border-box;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
}
	
.p_center .p_right .button:hover{
	border:1px solid #e55f0f;
}

.p_center .p_right .btn_prev{
	background-image:url(../images/btn_prev.gif);
}
.p_center .p_right .btn_stop{
	background-image:url(../images/btn_stop.gif);
}
.p_center .p_right .btn_next{
	background-image:url(../images/btn_next.gif);
}

/*partner end*/

/*footer start*/

footer{
	width:100%;
	height:115px;
}

footer .f_top{
	width:100%;
	height:35px;
	background-color:#434343;
}

footer .f_top .ft_center{
	width:960px;
	height:35px;
	margin:0 auto;
}

.ft_center .ft_left{
	float:left;
	width:50%;
	height:35px;
}

.ft_center .ft_left li{
	float:left;
	text-align:center;
	line-height:35px;
	font-size:0.75em;
	padding:0 10px;
}

.ft_center .ft_left li a{
	color:#c7c7c7;
}

footer .f_bottom{
	width:100%;
	height:80px;
	background-color:#333;
}

.ft_center .totop,
.ft_center .crum{
	float:right;
}

.ft_center .totop{
	line-height:35px;
	color:#c7c7c7;
	font-size:0.75em;
	cursor:pointer;
}

.ft_center .crum{
	margin-right:100px;
	padding:0 5px;
	font-size:0.75em;
	height:35px;
	position:relative;
	cursor:pointer;
}

.ft_center .crum p{
	color:#c7c7c7;
	line-height:35px;
}	

.ft_center .crum p span{
	display:inline-block;
	transition:all 0.6s;
}

.ft_center .crum p span.on{
	transform:rotate(180deg);
}
	
.ft_center .crum .crum_menu{
	position:absolute;
	width:100%;
	left:0;
	bottom:100%;
	background-color:#434343;
	display:none;
	font-size:0.75em;
	line-height:35px;
	text-align:center;
}	

.ft_center .crum .crum_menu a{
	color:#c7c7c7;
}

.ft_center .crum .crum_menu a:hover{
	color:#60b892;
}
	
.f_bottom .f_bottom_center{
	width:960px;
	height:80px;
	margin:0 auto;
	background:url(../images/footer_logo.png) no-repeat left center, url(../images/mark_wa.png) no-repeat right center;
}

.f_bottom .f_bottom_center p{
	padding-left:280px;
	padding-top:25px;
	font-size:0.7em;
	color:#999;
}
	

/*footer end*/























