<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }
        .margin{
            margin-bottom:30px;
        }
        .banner{
            height: 300px;
            position: absolute; top:0; left: 0;
            width: 100%;
            height: 100%;
        }
        .card-text{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        a:hover{
            text-decoration:none;
        }
        .center{
            text-align:center;
        }

        .carousel, .h3 {
        margin-bottom: 30px;
        }
        .carousel-item {
        border-radius: 20px;
        }
        .carousel-item > img {
        border-radius: 20px;
        }

    </style>
</th:block>

<div layout:fragment="content">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/frame 1.png" class="d-block w-100" alt="이미지1">
            </div>
            <div class="carousel-item">
                <img src="/img/frame 2.png" class="d-block w-100" alt="이미지2">
            </div>
            <div class="carousel-item">
                <img src="/img/frame 3.png" class="d-block w-100" alt="이미지3">
            </div>
            <div class="carousel-item">
                <img src="/img/frame 4.png" class="d-block w-100" alt="이미지3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Prev</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + ' 검색 결과'"></p>
    </div>

    <div class="row">
        <th:block th:each="item, status: ${items.getContent()}">
            <div class="col-md-4 margin">
                <div class="card">
                    <a th:href="'/item/' +${item.id}" class="text-dark">
                        <img th:src="${item.imgUrl}" class="card-img-top"
                             th:alt="${item.itemNm}" height="400">
                        <div class="card-body">
                            <h4 class="card-title">[[${item.itemNm}]]</h4>
                            <p class="card-text">[[${item.itemDetail}]]</p>
                            <h3 class="card-title text-danger">[[${item.price}]]원</h3>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
        <!-- Spring Data JPA 에서 Page 객체를 사용할 때 getContent() 메서드는 현재 페이지 포함된 데이터(아이템들)을 가져오는 역할 -->

    </div>

    <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
        <ul class="pagination justify-content-center">

            <!--첫번째 li : 이전버튼(prev) 생성-->
            <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery}
            + '&page=' + ${items.number-1}}" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <!--다음버튼 생성-->
            <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>

        </ul>
    </div>
    <!--코드 해설-->

        <!--
        1. 페이지 번호의 범위 (start 부터 end 계산)

        -items 는 Page<MainItemDto> 객체이고
        -number 는 현재 페이지의 번호를 나타낸다.
        -totalPage 는 전체 페이지수
        -maxPage 한번에 보여줄 최대 페이지 수
        -->

        <!--
        -첫번째 li : 이전버튼(prev) 생성,
         현재 페이지가 첫번째 페이지면 disable 클래스를 추가하여 prev 를 비활성 시킨다.

        -http://localhost/?searchQuery=&page=1 이면 items.number -1 를 사용하여 페이지 번호 조정
        -->

        <!--
        -두번째 Li
        -page: ${#numbers.sequence(start,end)} 1-5가지 순차적인 숫자 시퀀스를 생성
         이 시퀀스를 page 변수에 할당해서 각페이지 번호에 대한 반복 처리
         th:classappend="${items.number eq 0}?'active':''">
         현재 페이지와 클릭할(해당) 페이지 번호가 같으면 *active 클래스는 추가
         *active 클래스 추가: 배경색 파랑, 글자색 흰색

         th:inline="text"를 사용하여 타임리프 인라인 텍스트 표현식 [[${page}]] 를 사용하여 페이지 번호를 반영
        -->

</div>