@media screen and (max-width:1046px){
	header .logo{
		left:10px;
	}
	header .gnb{
		right:10px;
	}
	header .gnb li{
		margin:0 5px;
	}
}

@media screen and (max-width:839px){
	header .logo{
		left:50%;
		transform:translate(-50%,-50%);
	}
	
	header .gnb{
		display:none;
	}
	header .m_menu_btn{
		display:block;
		
	}
}





