@media screen and (max-width:568px){
	.start .section_inner_wrap .s_text span{
		font-size:17px;
	}
	
	.home .m_back .fireplace{
		top:48%;
	}
	
	/* 2번 섹션 시작 */
	
	.f_gift_text{
		top:36%;
		width:13%;
	}
	
	.f_gift_text span{
		font-size:15px;
		line-height:17px;
	}
	
	.star_text{
		left:0%;
		width:15%;
	}
	
	.star_text span{
		font-size:15px;
		line-height:20px;
	}
	
	.star_text .star_t{
		left:130%;
	}
	
	.box_text{
		top:45%;
		left:67%;
		width:13%;
	}
	
	.box_text span{
		font-size:15px;
		line-height:20px;
	}
	
	.box_text .box_t{
		top:150%;
		left:57%;
	}
	
	.pop1 .p_btn1{
		font-size:30px;
	}
	
	.pop1 .p_btn1.p_next1{
		right:2px;
	}

	.pop1 .p_btn1.p_prev1{
		left:2px;
	}
	
	.pop1 .pop1_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop1 .pop1_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop1 .pop1_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop2 .pop2_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop2 .pop2_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop2 .pop2_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop3 .p_btn3{
		font-size:30px;
	}
	
	.pop3 .p_btn3.p_next3{
		right:7px;
	}

	.pop3 .p_btn3.p_prev3{
		left:7px;
	}
	
	.pop3 .pop3_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop3 .pop3_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop3 .pop3_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	/* 3번 섹션 시작 */
	
	.about_img .about_text{
		width:95%;
		top:50%;
	}
	
	.about_img .about_text .about_t_left span{
		font-size:10px;
		line-height:20px;
		padding-left:20px;
	}
	
	.about_img .about_text .about_t_left span:after{
		width:20px;
		height:20px;
	}
	
	.about_img .about_text .about_t_right{
		width:36%;
		margin-top:-1%;
	}
	
	.about_img .about_text .about_t_right span{
		font-size:10px;
		line-height:20px;
		padding-left:20px;
	}
	
	.about_img .about_text .about_t_right span:after{
		width:17px;
		height:15px;
		margin-top:1%;
	}
	
	.graph{
		width:90%;
	}
	
	.skill_graph li a .circle_center{
		border:1px solid #fff;
		width:80%;
		height:80%;
	}
	
	.circle_center .graph_title{
		font-size:10px;
		border:1px solid green;
	}
	
	.circle_center .text{
		font-size:10px;
		width:60%;
		left:50%;
		transform:translateX(-50%);
		border:1px solid red;
	}
	
	/* 4번 섹션 시작 */
	
	.w_btn{
		width:18px;
	}
	
	.w_pager{
		bottom:-10%;
		width:176px;
	}
	
	.w_pager li a{
		width:8px;
		height:8px;
	}
	
	/* 5번 섹션 시작 */
	
	.works_btn{
		width:23%;
	}
	
	.works_btn span{
		font-size:13px;
		left:50%;
	}
	
	/* 6번 섹션 시작 */
	
	.contact .con_text .cont_top .cont_left label{
		font-size:11px;
	}
	
	.contact .con_text .cont_top .cont_left input{
		top:50%;
	}
	
	.contact .con_text .cont_top .cont_right label{
		font-size:11px;
	}
	
	.contact .con_text .cont_top .cont_right input{
		top:50%;
	}
	
	.contact .con_text .cont_bottom label{
		font-size:11px;
	}
	
	.contact .con_text .cont_bottom input{
		height:75%;
		top:20%;
	}
	
	.contact .con_text .cont_button{
		width:40%;
	}
	
	.contact .con_text .cont_button input{
		padding:2% 5%;
		font-size:10px;
	}
	
	.contact_t{
		width:10%;
		
	}
	
	.contact_t span{
		font-size:5px;
	
	}
}



@media screen and (min-width:569px) and (max-width:667px){
	.start .section_inner_wrap .s_text span{
		font-size:17px;
	}
	
	.home .m_back .fireplace{
		top:48%;
	}
	
	/* 2번 섹션 시작 */
	
	.f_gift_text{
		top:36%;
		width:13%;
	}
	
	.f_gift_text span{
		font-size:15px;
		line-height:17px;
	}
	
	.star_text{
		left:0%;
		width:15%;
	}
	
	.star_text span{
		font-size:15px;
		line-height:20px;
	}
	
	.star_text .star_t{
		left:130%;
	}
	
	.box_text{
		top:45%;
		left:67%;
		width:13%;
	}
	
	.box_text span{
		font-size:15px;
		line-height:20px;
	}
	
	.box_text .box_t{
		top:150%;
		left:57%;
	}
	
	.pop1 .p_btn1{
		font-size:30px;
	}
	
	.pop1 .p_btn1.p_next1{
		right:2px;
	}

	.pop1 .p_btn1.p_prev1{
		left:2px;
	}
	
	.pop1 .pop1_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop1 .pop1_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop1 .pop1_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop2 .pop2_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop2 .pop2_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop2 .pop2_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop3 .p_btn3{
		font-size:30px;
	}
	
	.pop3 .p_btn3.p_next3{
		right:7px;
	}

	.pop3 .p_btn3.p_prev3{
		left:7px;
	}
	
	.pop3 .pop3_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop3 .pop3_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop3 .pop3_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	/* 3번 섹션 시작 */
	
	.about_img .about_text{
		width:95%;
		top:50%;
	}
	
	.about_img .about_text .about_t_left{
		margin-top:2%;
	}
	
	.about_img .about_text .about_t_left span{
		font-size:12px;
		line-height:20px;
		padding-left:20px;
	}
	
	.about_img .about_text .about_t_left span:after{
		width:20px;
		height:20px;
	}
	
	.about_img .about_text .about_t_right{
		width:36%;
	}
	
	.about_img .about_text .about_t_right span{
		font-size:12px;
		line-height:20px;
		padding-left:20px;
	}
	
	.about_img .about_text .about_t_right span:after{
		width:17px;
		height:15px;
		margin-top:1%;
	}
	
	.graph{
		width:90%;
	}
	
	.skill_graph li a .circle_center{
		border:1px solid #fff;
		width:80%;
		height:80%;
	}
	
	.circle_center .graph_title{
		font-size:10px;
		border:1px solid green;
	}
	
	.circle_center .text{
		font-size:10px;
		width:60%;
		left:50%;
		transform:translateX(-50%);
		border:1px solid red;
	}
	
	/* 4번 섹션 시작 */
	
	.w_btn{
		width:20px;
	}
	
	.w_pager{
		bottom:-10%;
		width:176px;
	}
	
	.w_pager li a{
		width:8px;
		height:8px;
	}
	
	/* 5번 섹션 시작 */
	
	.works_btn{
		width:23%;
	}
	
	.works_btn span{
		font-size:13px;
		left:50%;
	}
	
	/* 6번 섹션 시작 */
	
	.contact .con_text .cont_top .cont_left label{
		font-size:11px;
	}
	
	.contact .con_text .cont_top .cont_left input{
		top:50%;
	}
	
	.contact .con_text .cont_top .cont_right label{
		font-size:11px;
	}
	
	.contact .con_text .cont_top .cont_right input{
		top:50%;
	}
	
	.contact .con_text .cont_bottom label{
		font-size:11px;
	}
	
	.contact .con_text .cont_bottom input{
		height:75%;
		top:20%;
	}
	
	.contact .con_text .cont_button{
		width:40%;
	}
	
	.contact .con_text .cont_button input{
		padding:2% 5%;
		font-size:10px;
	}
	
	.contact_t{
		width:10%;
		
	}
	
	.contact_t span{
		font-size:5px;
	
	}
}



@media screen and (min-width:668px) and (max-width:736px){
	.start .section_inner_wrap .s_text span{
		font-size:17px;
	}
	
	.home .m_back .fireplace{
		top:48%;
	}
	
	/* 2번 섹션 시작 */
	
	.f_gift_text{
		top:38%;
		width:13%;
	}
	
	.f_gift_text span{
		font-size:15px;
		line-height:17px;
	}
	
	.star_text{
		left:3%;
		width:15%;
	}
	
	.star_text span{
		font-size:15px;
		line-height:20px;
	}
	
	.star_text .star_t{
		left:100%;
	}
	
	.box_text{
		top:47%;
		left:68%;
		width:13%;
	}
	
	.box_text span{
		font-size:15px;
		line-height:20px;
	}
	
	.box_text .box_t{
		top:130%;
		left:55%;
	}
	
	.pop1 .p_btn1{
		font-size:30px;
	}
	
	.pop1 .p_btn1.p_next1{
		right:2px;
	}

	.pop1 .p_btn1.p_prev1{
		left:2px;
	}
	
	.pop1 .pop1_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop1 .pop1_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop1 .pop1_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop2 .pop2_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop2 .pop2_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop2 .pop2_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop3 .p_btn3{
		font-size:30px;
	}
	
	.pop3 .p_btn3.p_next3{
		right:7px;
	}

	.pop3 .p_btn3.p_prev3{
		left:7px;
	}
	
	.pop3 .pop3_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop3 .pop3_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop3 .pop3_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	/* 3번 섹션 시작 */
	
	.about_img .about_text{
		width:95%;
		top:50%;
	}
	
	.about_img .about_text .about_t_left{
		margin-top:2%;
	}
	
	.about_img .about_text .about_t_left span{
		font-size:15px;
		line-height:25px;
		padding-left:25px;
	}
	
	.about_img .about_text .about_t_left span:after{
		width:23px;
		height:23px;
	}
	
	.about_img .about_text .about_t_right{
		width:40%;
	}
	
	.about_img .about_text .about_t_right span{
		font-size:15px;
		line-height:25px;
		padding-left:25px;
	}
	
	.about_img .about_text .about_t_right span:after{
		width:20px;
		height:20px;
		margin-top:1%;
	}
	
	.graph{
		width:90%;
	}
	
	.skill_graph li a .circle_center{
		border:1px solid #fff;
		width:80%;
		height:80%;
	}
	
	.circle_center .graph_title{
		font-size:10px;
		border:1px solid green;
	}
	
	.circle_center .text{
		font-size:10px;
		width:60%;
		left:50%;
		transform:translateX(-50%);
		border:1px solid red;
	}
	
	/* 4번 섹션 시작 */
	
	.w_btn{
		width:23px;
	}
	
	.w_pager{
		bottom:-10%;
		width:185px;
	}
	
	.w_pager li a{
		width:9px;
		height:9px;
	}
	
	/* 5번 섹션 시작 */
	
	.works_btn{
		width:23%;
	}
	
	.works_btn span{
		font-size:15px;
		left:50%;
	}
	
	/* 6번 섹션 시작 */
	
	.contact .con_text .cont_top .cont_left label{
		font-size:13px;
	}
	
	.contact .con_text .cont_top .cont_left input{
		top:50%;
	}
	
	.contact .con_text .cont_top .cont_right label{
		font-size:13px;
	}
	
	.contact .con_text .cont_top .cont_right input{
		top:50%;
	}
	
	.contact .con_text .cont_bottom label{
		font-size:13px;
	}
	
	.contact .con_text .cont_bottom input{
		height:75%;
		top:20%;
	}
	
	.contact .con_text .cont_button{
		width:40%;
	}
	
	.contact .con_text .cont_button input{
		padding:2% 5%;
		font-size:10px;
	}
	
	.contact_t{
		width:10%;
		
	}
	
	.contact_t span{
		font-size:5px;
	
	}
}



@media screen and (min-width:737px) and (max-width:812px){
	.start .section_inner_wrap .s_text{
		bottom:8%;
	}
	
	.start .section_inner_wrap .s_text span{
		font-size:15px;
	}
	
	.start .section_inner_wrap .bell{
		width:30%;
	}
	
	/* 2번 섹션 시작 */
	
	.home .m_back .window{
		width:35%;
	}
	
	.home .m_back .fireplace{
		top:48%;
		width:48%;
	}
	
	.home .m_back .fireplace .mini{
		top:10%;
	}
	
	.home .m_back .fireplace .mini_2{
		top:10%;
	}
	
	.f_gift_text{
		top:38%;
		width:13%;
	}
	
	.f_gift_text span{
		font-size:15px;
		line-height:17px;
	}
	
	.home .m_back .tree{
		width:22%;
	}
	
	.star_text{
		left:3%;
		width:15%;
	}
	
	.star_text span{
		font-size:15px;
		line-height:20px;
	}
	
	.star_text .star_t{
		left:100%;
	}
	
	.home .m_back .sofa{
		width:21%;
		left:2%;
		bottom:53%;
	}
	
	.home .m_back .stand{
		width:7%;
		left:2%;
		bottom:58%;
	}
	
	.home .m_back .frame{
		width:18%;
		top:12%;
	}
	
	.home .m_back .box{
		width:26%;
		left:-5%;
		bottom:22%;
	}
	
	.box_text{
		top:47%;
		left:67%;
		width:13%;
	}
	
	.box_text span{
		font-size:15px;
		line-height:20px;
	}
	
	.box_text .box_t{
		top:130%;
		left:55%;
	}
	
	.pop1 .p_btn1{
		font-size:30px;
	}
	
	.pop1 .p_btn1.p_next1{
		right:2px;
	}

	.pop1 .p_btn1.p_prev1{
		left:2px;
	}
	
	.pop1 .pop1_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop1 .pop1_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop1 .pop1_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop2 .pop2_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop2 .pop2_img{
		width:78%;
	}
	
	.pop2 .pop2_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop2 .pop2_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop3 .p_btn3{
		font-size:30px;
	}
	
	.pop3 .p_btn3.p_next3{
		right:7px;
	}

	.pop3 .p_btn3.p_prev3{
		left:7px;
	}
	
	.pop3 .pop3_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop3 .pop3_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop3 .pop3_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	/* 3번 섹션 시작 */
	
	.about_img{
		width:55%;
	}
	
	.about_img .about_text{
		width:95%;
		top:50%;
	}
	
	.about_img .about_text .about_t_left span{
		font-size:13px;
		line-height:25px;
		padding-left:25px;
	}
	
	.about_img .about_text .about_t_left span:after{
		width:23px;
		height:23px;
	}
	
	.about_img .about_text .about_t_right{
		width:40%;
		margin-top:-2%;
	}
	
	.about_img .about_text .about_t_right span{
		font-size:13px;
		line-height:25px;
		padding-left:25px;
	}
	
	.about_img .about_text .about_t_right span:after{
		width:20px;
		height:20px;
		margin-top:1%;
	}
	
	.graph{
		width:80%;
	}
	
	.skill_graph li a .circle_center{
		border:1px solid #fff;
		width:80%;
		height:80%;
	}
	
	.circle_center .graph_title{
		font-size:10px;
		border:1px solid green;
	}
	
	.circle_center .text{
		font-size:10px;
		width:60%;
		left:50%;
		transform:translateX(-50%);
		border:1px solid red;
	}
	
	/* 4번 섹션 시작 */
	
	.works_1{
		width:67%;
	}
	
	.w_btn{
		width:22px;
	}
	
	.w_pager{
		bottom:-10%;
		width:185px;
	}
	
	.w_pager li a{
		width:9px;
		height:9px;
	}
	
	/* 5번 섹션 시작 */
	
	.works_btn{
		width:19%;
	}
	
	.works_btn span{
		font-size:15px;
		left:50%;
	}
	
	/* 6번 섹션 시작 */
	
	.contact .b_contact{
		width:65%;
	}
	
	.contact .con_text .cont_top .cont_left label{
		font-size:13px;
	}
	
	.contact .con_text .cont_top .cont_left input{
		top:50%;
	}
	
	.contact .con_text .cont_top .cont_right label{
		font-size:13px;
	}
	
	.contact .con_text .cont_top .cont_right input{
		top:50%;
	}
	
	.contact .con_text .cont_bottom label{
		font-size:13px;
	}
	
	.contact .con_text .cont_bottom input{
		height:75%;
		top:20%;
	}
	
	.contact .con_text .cont_button{
		width:30%;
	}
	
	.contact .con_text .cont_button input{
		padding:3% 6%;
		font-size:10px;
	}
	
	.contact_t{
		width:10%;
		
	}
	
	.contact_t span{
		font-size:5px;
	
	}
}



@media screen and (min-width:813px) and (max-width:823px){
	.start .section_inner_wrap .s_text{
		bottom:8%;
	}
	
	.start .section_inner_wrap .s_text span{
		font-size:15px;
	}
	
	.start .section_inner_wrap .bell{
		width:30%;
	}
	
	/* 2번 섹션 시작 */
	
	.home .m_back .window{
		width:35%;
	}
	
	.home .m_back .fireplace{
		top:48%;
		width:48%;
	}
	
	.home .m_back .fireplace .mini{
		top:10%;
	}
	
	.home .m_back .fireplace .mini_2{
		top:10%;
	}
	
	.f_gift_text{
		top:38%;
		width:13%;
	}
	
	.f_gift_text span{
		font-size:15px;
		line-height:17px;
	}
	
	.home .m_back .tree{
		width:22%;
	}
	
	.star_text{
		left:3%;
		width:15%;
	}
	
	.star_text span{
		font-size:15px;
		line-height:20px;
	}
	
	.star_text .star_t{
		left:100%;
	}
	
	.home .m_back .sofa{
		width:21%;
		left:2%;
		bottom:53%;
	}
	
	.home .m_back .stand{
		width:7%;
		left:2%;
		bottom:58%;
	}
	
	.home .m_back .frame{
		width:18%;
		top:12%;
	}
	
	.home .m_back .box{
		width:26%;
		left:-5%;
		bottom:22%;
	}
	
	.box_text{
		top:47%;
		left:67%;
		width:13%;
	}
	
	.box_text span{
		font-size:15px;
		line-height:20px;
	}
	
	.box_text .box_t{
		top:130%;
		left:55%;
	}
	
	.pop1 .p_btn1{
		font-size:30px;
	}
	
	.pop1 .p_btn1.p_next1{
		right:2px;
	}

	.pop1 .p_btn1.p_prev1{
		left:2px;
	}
	
	.pop1 .pop1_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop1 .pop1_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop1 .pop1_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop2 .pop2_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop2 .pop2_img{
		width:78%;
	}
	
	.pop2 .pop2_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop2 .pop2_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop3 .p_btn3{
		font-size:30px;
	}
	
	.pop3 .p_btn3.p_next3{
		right:7px;
	}

	.pop3 .p_btn3.p_prev3{
		left:7px;
	}
	
	.pop3 .pop3_b_wrap{
		width:30px;
		height:30px;
		top:0;
	}
	
	.pop3 .pop3_button1{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	.pop3 .pop3_button2{
		width:25px;
		height:5px;
		top:10px;
		left:3px;
	}
	
	/* 3번 섹션 시작 */
	
	.about_img{
		width:55%;
	}
	
	.about_img .about_text{
		width:95%;
		top:50%;
	}
	
	.about_img .about_text .about_t_left span{
		font-size:13px;
		line-height:25px;
		padding-left:25px;
	}
	
	.about_img .about_text .about_t_left span:after{
		width:23px;
		height:23px;
	}
	
	.about_img .about_text .about_t_right{
		width:40%;
		margin-top:-2%;
	}
	
	.about_img .about_text .about_t_right span{
		font-size:13px;
		line-height:25px;
		padding-left:25px;
	}
	
	.about_img .about_text .about_t_right span:after{
		width:20px;
		height:20px;
		margin-top:1%;
	}
	
	.graph{
		width:80%;
	}
	
	.skill_graph li a .circle_center{
		border:1px solid #fff;
		width:80%;
		height:80%;
	}
	
	.circle_center .graph_title{
		font-size:10px;
		border:1px solid green;
	}
	
	.circle_center .text{
		font-size:10px;
		width:60%;
		left:50%;
		transform:translateX(-50%);
		border:1px solid red;
	}
	
	/* 4번 섹션 시작 */
	
	.works_1{
		width:70%;
	}
	
	.w_btn{
		width:22px;
	}
	
	.w_pager{
		bottom:-10%;
		width:185px;
	}
	
	.w_pager li a{
		width:9px;
		height:9px;
	}
	
	/* 5번 섹션 시작 */
	
	.works_btn{
		width:20%;
	}
	
	.works_btn span{
		font-size:15px;
		left:50%;
	}
	
	/* 6번 섹션 시작 */
	
	.contact .b_contact{
		width:65%;
		bottom:11%;
	}
	
	.contact .con_text .cont_top .cont_left label{
		font-size:13px;
	}
	
	.contact .con_text .cont_top .cont_left input{
		top:50%;
	}
	
	.contact .con_text .cont_top .cont_right label{
		font-size:13px;
	}
	
	.contact .con_text .cont_top .cont_right input{
		top:50%;
	}
	
	.contact .con_text .cont_bottom label{
		font-size:13px;
	}
	
	.contact .con_text .cont_bottom input{
		height:75%;
		top:20%;
	}
	
	.contact .con_text .cont_button{
		width:30%;
	}
	
	.contact .con_text .cont_button input{
		padding:3% 6%;
		font-size:10px;
	}
	
	.contact_t{
		width:10%;
		
	}
	
	.contact_t span{
		font-size:5px;
	
	}
}



@media screen and (min-width:824px) and (max-width:1024px){
	.start .section_inner_wrap .s_text{
		bottom:8%;
	}
	
	.start .section_inner_wrap .s_text span{
		font-size:30px;
	}
	
	.start .section_inner_wrap .bell{
		width:50%;
	}
	
	/* 2번 섹션 시작 */
	
	.home .m_back .window_bg{
		top:6%;
		width:22%;
	}
	
	.home .m_back .window{
		width:40%;
		top:3%;
	}
	
	.home .m_back .fireplace{
		top:48%;
		width:70%;
	}
	
	.home .m_back .fireplace .mini{
		top:6%;
	}
	
	.home .m_back .fireplace .mini_2{
		top:6%;
	}
	
	.f_gift_text{
		top:38%;
		width:13%;
	}
	
	.f_gift_text span{
		font-size:25px;
		line-height:30px;
	}
	
	.home .m_back .tree{
		width:30%;
		bottom:35%;
	}
	
	.star_text{
		left:3%;
		width:17%;
	}
	
	.star_text span{
		font-size:25px;
		line-height:30px;
	}
	
	.star_text .star_t{
		left:100%;
	}
	
	.home .m_back .sofa{
		width:21%;
		left:-1%;
		bottom:45%;
	}
	
	.home .m_back .stand{
		width:7%;
		left:-1%;
		bottom:48%;
	}
	
	.home .m_back .frame{
		width:22%;
		top:20%;
		left:20%;
	}
	
	.home .m_back .box{
		width:35%;
		left:-15%;
		bottom:18%;
	}
	
	.box_text{
		top:47%;
		left:67%;
		width:13%;
	}
	
	.box_text span{
		font-size:25px;
		line-height:30px;
	}
	
	.box_text .box_t{
		top:130%;
		left:55%;
	}
	
	.pop1{
		height:65%;
	}
	
	.pop1 .p_btn1{
		font-size:35px;
	}
	
	.pop1 .p_btn1.p_next1{
		right:7px;
	}

	.pop1 .p_btn1.p_prev1{
		left:7px;
	}
	
	.pop1 .pop1_b_wrap{
		width:40px;
		height:40px;
		top:15px;
		right:10px;
	}
	
	.pop1 .pop1_button1{
		width:35px;
		height:10px;
		top:10px;
		left:3px;
	}
	
	.pop1 .pop1_button2{
		width:35px;
		height:10px;
		top:10px;
		left:3px;
	}
	
	.pop2{
		height:60%;
	}
	
	.pop2 .pop2_b_wrap{
		width:40px;
		height:40px;
		top:15px;
		right:10px;
	}
	
	.pop2 .pop2_img{
		width:85%;
	}
	
	.pop2 .pop2_button1{
		width:35px;
		height:10px;
		top:10px;
		left:3px;
	}
	
	.pop2 .pop2_button2{
		width:35px;
		height:10px;
		top:10px;
		left:3px;
	}
	
	.pop3{
		height:65%;
	}
	
	.pop3 ul{
		width:85%;
	}
	
	.pop3 .p_btn3{
		font-size:40px;
	}
	
	.pop3 .p_btn3.p_next3{
		right:13px;
	}

	.pop3 .p_btn3.p_prev3{
		left:13px;
	}
	
	.pop3 .pop3_b_wrap{
		width:40px;
		height:40px;
		top:15px;
		right:8px;
	}
	
	.pop3 .pop3_button1{
		width:35px;
		height:10px;
		top:10px;
		left:3px;
	}
	
	.pop3 .pop3_button2{
		width:35px;
		height:10px;
		top:10px;
		left:3px;
	}
	
	/* 3번 섹션 시작 */
	
	.about_img{
		width:80%;
		top:10%;
	}
	
	.about_img .about_text{
		width:95%;
		top:50%;
	}
	
	.about_img .about_text{
		width:90%;
		left:50%;
	}
	
	.about_img .about_text .about_t_left span{
		font-size:24px;
		line-height:40px;
		padding-left:35px;
	}
	
	.about_img .about_text .about_t_left span:after{
		width:40px;
		height:40px;
		margin-top:-0.5%;
	}
	
	.about_img .about_text .about_t_right{
		width:40%;
		margin-top:-1%;
	}
	
	.about_img .about_text .about_t_right span{
		font-size:24px;
		line-height:40px;
		padding-left:50px;
	}
	
	.about_img .about_text .about_t_right span:after{
		width:35px;
		height:35px;
		margin-top:1%;
	}
	
	.graph{
		width:95%;
		bottom:10%;
	}
	
	.skill_graph li a .circle_center{
		border:1px solid #fff;
		width:80%;
		height:80%;
	}
	
	.circle_center .graph_title{
		font-size:10px;
		border:1px solid green;
	}
	
	.circle_center .text{
		font-size:10px;
		width:60%;
		left:50%;
		transform:translateX(-50%);
		border:1px solid red;
	}
	
	/* 4번 섹션 시작 */
	
	.works_1{
		width:90%;
		top:50%;
	}
	
	.w_btn{
		width:40px;
	}
	
	.w_pager{
		bottom:-15%;
		width:275px;
	}
	
	.w_pager li a{
		width:20px;
		height:20px;
	}
	
	/* 5번 섹션 시작 */
	
	.page1{
		width:70%;
		height:55%;
		top:5%;
	}
	
	.page2{
		width:70%;
		height:55%;
		top:5%;
	}
	
	.works_btn{
		width:25%;
		height:33%;
	}
	
	.works_btn span{
		font-size:25px;
		left:50%;
	}
	
	/* 6번 섹션 시작 */
	
	.contact .b_contact{
		width:80%;
		bottom:2%;
	}
	
	.contact .con_text{
		width:80%;
	}
	
	.contact .con_text .cont_top .cont_left label{
		font-size:25px;
	}
	
	.contact .con_text .cont_top .cont_left input{
		top:50%;
	}
	
	.contact .con_text .cont_top .cont_right label{
		font-size:25px;
	}
	
	.contact .con_text .cont_top .cont_right input{
		top:50%;
	}
	
	.contact .con_text .cont_bottom label{
		font-size:25px;
	}
	
	.contact .con_text .cont_bottom input{
		height:75%;
		top:20%;
	}
	
	.contact .con_text .cont_button{
		width:50%;
	}
	
	.contact .con_text .cont_button input{
		padding:2% 5%;
		font-size:20px;
	}
	
	.contact_t{
		width:30%;
		
	}
	
	.contact_t span{
		font-size:25px;
	
	}
}

@media screen and (min-width:1025px) and (max-width:1366px){
	.start .section_inner_wrap .s_text{
		bottom:10%;
	}
	
	.start .section_inner_wrap .s_text span{
		font-size:35px;
	}
	
	.start .section_inner_wrap .bell{
		width:45%;
	}
	
	/* 2번 섹션 시작 */
	
	.home .m_back .window_bg{
		top:6%;
		width:20%;
	}
	
	.home .m_back .window{
		width:37%;
		top:3%;
	}
	
	.home .m_back .fireplace{
		top:48%;
		width:68%;
	}
	
	.home .m_back .fireplace .mini{
		top:6%;
	}
	
	.home .m_back .fireplace .mini_2{
		top:6%;
	}
	
	.f_gift_text{
		top:38%;
		width:13%;
	}
	
	.f_gift_text span{
		font-size:35px;
		line-height:40px;
	}
	
	.home .m_back .tree{
		width:30%;
		bottom:35%;
	}
	
	.star_text{
		left:3%;
		width:17%;
	}
	
	.star_text span{
		font-size:35px;
		line-height:40px;
	}
	
	.star_text .star_t{
		left:100%;
	}
	
	.home .m_back .sofa{
		width:21%;
		left:-1%;
		bottom:45%;
	}
	
	.home .m_back .stand{
		width:7%;
		left:-1%;
		bottom:48%;
	}
	
	.home .m_back .frame{
		width:22%;
		top:20%;
		left:20%;
	}
	
	.home .m_back .box{
		width:35%;
		left:-15%;
		bottom:18%;
	}
	
	.box_text{
		top:47%;
		left:67%;
		width:13%;
	}
	
	.box_text span{
		font-size:35px;
		line-height:40px;
	}
	
	.box_text .box_t{
		top:130%;
		left:55%;
	}
	
	.pop1{
		height:65%;
	}
	
	.pop1 .p_btn1{
		font-size:35px;
	}
	
	.pop1 .p_btn1.p_next1{
		right:7px;
	}

	.pop1 .p_btn1.p_prev1{
		left:7px;
	}
	
	.pop1 .pop1_b_wrap{
		width:40px;
		height:40px;
		top:15px;
		right:10px;
	}
	
	.pop1 .pop1_button1{
		width:35px;
		height:10px;
		top:10px;
		left:3px;
	}
	
	.pop1 .pop1_button2{
		width:35px;
		height:10px;
		top:10px;
		left:3px;
	}
	
	.pop2{
		height:60%;
	}
	
	.pop2 .pop2_b_wrap{
		width:40px;
		height:40px;
		top:15px;
		right:10px;
	}
	
	.pop2 .pop2_img{
		width:85%;
	}
	
	.pop2 .pop2_button1{
		width:35px;
		height:10px;
		top:10px;
		left:3px;
	}
	
	.pop2 .pop2_button2{
		width:35px;
		height:10px;
		top:10px;
		left:3px;
	}
	
	.pop3{
		height:65%;
	}
	
	.pop3 ul{
		width:85%;
	}
	
	.pop3 .p_btn3{
		font-size:40px;
	}
	
	.pop3 .p_btn3.p_next3{
		right:13px;
	}

	.pop3 .p_btn3.p_prev3{
		left:13px;
	}
	
	.pop3 .pop3_b_wrap{
		width:40px;
		height:40px;
		top:15px;
		right:8px;
	}
	
	.pop3 .pop3_button1{
		width:35px;
		height:10px;
		top:10px;
		left:3px;
	}
	
	.pop3 .pop3_button2{
		width:35px;
		height:10px;
		top:10px;
		left:3px;
	}
	
	/* 3번 섹션 시작 */
	
	.about_img{
		width:80%;
		top:8%;
	}
	
	.about_img .about_text{
		width:95%;
		top:50%;
	}
	
	.about_img .about_text{
		width:90%;
		left:50%;
	}
	
	.about_img .about_text .about_t_left span{
		font-size:30px;
		line-height:55px;
		padding-left:55px;
	}
	
	.about_img .about_text .about_t_left span:after{
		width:50px;
		height:50px;
	}
	
	.about_img .about_text .about_t_right{
		width:38%;
		margin-top:-1%;
	}
	
	.about_img .about_text .about_t_right span{
		font-size:30px;
		line-height:55px;
		padding-left:55px;
	}
	
	.about_img .about_text .about_t_right span:after{
		width:45px;
		height:45px;
		margin-top:1%;
	}
	
	.graph{
		width:95%;
		bottom:10%;
	}
	
	.skill_graph li a .circle_center{
		border:1px solid #fff;
		width:80%;
		height:80%;
	}
	
	.circle_center .graph_title{
		font-size:10px;
		border:1px solid green;
	}
	
	.circle_center .text{
		font-size:10px;
		width:60%;
		left:50%;
		transform:translateX(-50%);
		border:1px solid red;
	}
	
	/* 4번 섹션 시작 */
	
	.works_1{
		width:90%;
		top:50%;
	}
	
	.w_btn{
		width:50px;
	}
	
	.w_pager{
		bottom:-20%;
		width:345px;
	}
	
	.w_pager li a{
		width:23px;
		height:23px;
		margin:0 3px;
	}
	
	/* 5번 섹션 시작 */
	
	.page1{
		width:70%;
		height:55%;
		top:5%;
	}
	
	.page2{
		width:70%;
		height:55%;
		top:5%;
	}
	
	.works_btn{
		width:26%;
		height:33%;
	}
	
	.works_btn span{
		font-size:30px;
		left:50%;
	}
	
	/* 6번 섹션 시작 */
	
	.contact .b_contact{
		width:80%;
		bottom:2%;
	}
	
	.contact .con_text{
		width:80%;
	}
	
	.contact .con_text .cont_top .cont_left label{
		font-size:35px;
	}
	
	.contact .con_text .cont_top .cont_left input{
		top:50%;
	}
	
	.contact .con_text .cont_top .cont_right label{
		font-size:35px;
	}
	
	.contact .con_text .cont_top .cont_right input{
		top:50%;
	}
	
	.contact .con_text .cont_bottom label{
		font-size:35px;
	}
	
	.contact .con_text .cont_bottom input{
		height:75%;
		top:20%;
	}
	
	.contact .con_text .cont_button{
		width:40%;
	}
	
	.contact .con_text .cont_button input{
		padding:2% 5%;
		font-size:22px;
	}
	
	.contact_t{
		width:30%;
		
	}
	
	.contact_t span{
		font-size:25px;
	
	}
}

































