<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fratment="mainFooter">
    <div id="footer_ad">
        <a href="#"><img src="" alt="ad" class="footer_ad"></a>
        <a href="#"><img src="" alt="ad" class="footer_ad"></a>
        <a href="#"><img src="" alt="ad" class="footer_ad"></a>
    </div>
    <p class="footer_line"></p>
    <div id="footer_wrap">
        <div class="footer_terms">
            <div>
                <a href="#">인덱스웹툰 이용약관</a>
                <a href="#">전용 포인트 이용약관</a>
                <a href="#">개인정보처리방침</a>
                <a href="#">청소년보호정책</a>
                <a href="#">고객센터</a>
                <a href="#">개발자문의</a>
            </div>
            <p>ⓒ Index-webtoon</p>
        </div>
        <div class="footer_terms">
            <div>
                <a href="#">이용약관</a>
                <a href="#">개인정보처리방침</a>
                <a href="#">책임의 한계와 법적고지</a>
                <a href="#">고객센터</a>
                <a href="#">결제도용신고</a>
                <a href="#">저작권침해신고</a>
            </div>
            <p>ⓒ IndexTeam Corp</p>
        </div>
    </div>
    <div id="developer_info">
        <h3>IndexTeam</h3>
        <p>박건우 : <a target="_blank" href="https://github.com/pk010426">https://github.com/pk010426</a></p>
        <p>이현수 : <a target="_blank" href="https://github.com/javsfs">https://github.com/javsfs</a></p>
        <p>장준영 : <a target="_blank" href="https://github.com/JunYeonge">https://github.com/JunYeonge</a></p>
        <p>모든 콘텐츠의 저작권은 저작권자 또는 제공처에 있습니다.</p>
    </div>
</footer>

</html>